@layer components {
  .big-eye-container-perspective {
    perspective: 1000px;
    padding: 8px;
  }
  .big-eye-transition {
    transition:
      border 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
  }
  .big-eye-pseudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
}
